.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
}
.search_container{
  /* background-color: rgb(246, 248, 245); */
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
  /* border: 1px solid #21262e; */
}
.table_container{
  /* background-color: rgb(246, 248, 245); */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 90%;
}
.header{
  color:rgb(246, 248, 245);
  justify-self: start;
  align-self: start;
  padding-left: 10px;
}
.rudius-btn{
  border-radius: 5px
}

/* label color */
.input-field label {
  color: rgb(246, 248, 245);
}

/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: rgb(246, 248, 245) !important;
 }

/* label underline focus color */
 .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid rgb(246, 248, 245) !important;
  box-shadow: 0 1px 0 0 rgb(246, 248, 245) !important;
 }

 .input-field input[type=text].valid, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid rgb(246, 248, 245) !important;
  box-shadow: 0 1px 0 0 rgb(246, 248, 245) !important;
 }


.validate{
  color: rgb(246, 248, 245);
  border-bottom: 1px solid rgb(246, 248, 245);
}
.sub-btn-container{
  margin-top: 23px;
}
.pages_container{
  margin: 20px 0;
}
.page_num, .current_page_num{
  border:1px solid rgb(246, 248, 245);
  border-radius: 100%;
  padding: 5px 10px;
  margin: 0 10px;
  color: rgb(246, 248, 245);
  cursor: pointer;
}
.current_page_num{
  border:2px solid rgb(246, 248, 245);
  font-weight: 700;
}

.table-style{
  color: rgb(246, 248, 245);
  width: 70%;
  margin: auto;
}
.tr-thead{
  border-bottom: 2px solid rgb(246, 248, 245);
}
.tr{
  border-bottom: 1px solid rgb(246, 248, 245);
}
.avatar{
  height: 25px;
  width: 25px;
  margin-left: 5px;
}